<p style="color: green"><%= notice %></p>

<div class="jumbotron m-3">
    <h1 class="display-4 text-center">Listing all articles</h1>
    <p class="text-center">
      <%= link_to 'Create new article', new_article_path, class: "btn-success btn-lg btn text-center" %>
    </p>
    <hr class="my-4">



    <%= will_paginate @articles %>
    <%= render 'article' %>

    
   

</div>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Alpha Blog", root_path, class: "text-white" %></small>
    </div>
</footer>
