<div class="jombotron m-3 text-center home-container text-white" >

  <h1 class="display-4 home-page-title">Alpha Blog</h1>
  
  <%# articles_path  will produce something like this http://yourserver.com/articles which will be associated with your ArticlesController and index action.%>
  <%= link_to 'Articles listing page', articles_path %>
  <%= link_to 'About page', about_path%>
  <%= link_to 'Contact page extra', contact_path%>
  <p class="lorem-text-home-page">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nulla accusamus voluptates ipsa odio. Magni eum ratione officiis tempora, quas adipisci excepturi ipsa labore repudiandae eos animi, ab similique temporibus.Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nulla accusamus voluptates ipsa odio. Magni eum ratione officiis tempora, quas adipisci excepturi ipsa labore repudiandae eos animi, ab similique temporibus.Est nulla accusamus voluptates ipsa odio. Magni eum ratione officiis tempora, quas adipisci excepturi ipsa labore repudiandae eos animi, ab similique temporibus.</p>

  <a role="button">

     <%= link_to 'Sign up!', signup_path, class: "btn-success btn-lg btn text-center" %>

  </a>

</div>

<div id="page-content" >


</div>

<%= render 'layouts/footer' %>